<div class="mt-3 mb-3">
  <ul class="list-group">
    <% @articles.each do |article| %>
      <li class="list-group-item">
        <h2><%= link_to article.title, article_path(article) %></h2>
        <p><%= article.content %></p>
      </li>
    <% end %>
  </ul>
</div>
